extends layout

block content
  h1= title
  p View your booking details here.
  form(action='/booking/:id', method='get')
    input(type='text', name='bookingId', placeholder='Enter Booking ID')
    button(type='submit') View Booking

  h1 Create a new booking
  form(action='/booking/autonomous', method='post')
    input(type='text', name='user', placeholder='Enter User ID')
    input(type='text', name='bus', placeholder='Enter Bus ID')
    button(type='submit') Create Booking