extends layout

block content
  h1= 'Autonomous Bus Booking App'
  form(action='/cities', method='get')
    div
      label(for='origin') Origin
      select(name='origin', id='origin')
        option(value='Location1') Location1
        option(value='Location2') Location2
        option(value='Location3') Location3
    div
      label(for='destination') Destination
      select(name='destination', id='destination')
        option(value='Location1') Location1
        option(value='Location2') Location2
        option(value='Location3') Location3
    div
      label(for='date') Date
      input(type='date', name='date', id='date')
    div
      button(type='submit') Search
    div
      p Welcome to the Autonomous Bus Booking Application!
    div
      p Please fill in the details to search for available bus rides.
    div
      p Enjoy a seamless and modern booking experience.
    div
      p Our autonomous buses ensure a safe and comfortable journey.
    div
      p Book your ride now and experience the future of transportation.
