extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/submit', method='post')
    label(for='source') Source:
    select(name='source')
      option(value='Tokyo') Tokyo
      option(value='Osaka') Osaka
      option(value='Kyoto') Kyoto
      option(value='Nagoya') Nagoya
      option(value='Sapporo') Sapporo
    br
    label(for='destination') Destination:
    select(name='destination')
      option(value='Tokyo') Tokyo
      option(value='Osaka') Osaka
      option(value='Kyoto') Kyoto
      option(value='Nagoya') Nagoya
      option(value='Sapporo') Sapporo
    br
    button(type='submit') Submit