extends layout

block content
  h1= title
  form(action='/search', method='get')
    div
      label(for='origin') Origin
      input(type='text', name='origin', id='origin')
    div
      label(for='destination') Destination
      input(type='text', name='destination', id='destination')
    div
      label(for='date') Date
      input(type='date', name='date', id='date')
    div
      button(type='submit') Search
