doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Autonomous Bus Booking Application
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/booking') Booking
        li
          a(href='/about') About
    block content