doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div
      p Welcome to the Autonomous Bus Booking Application!
    div
      p Please fill in the details to search for available bus rides.
    div
      p Enjoy a seamless and modern booking experience.
    div
      p Our autonomous buses ensure a safe and comfortable journey.
    div
      p Book your ride now and experience the future of transportation.
