doctype html
html
  head
    title Ping Pong Game
    link(rel='stylesheet', href='/stylesheets/pingpong.css')
  body
    h1 Ping Pong Game
    canvas#gameCanvas(width='800', height='400')
    script(src='/javascripts/pingpong.js')
